<div class="row">
    <div class="col-lg-12">
        <ul ng-repeat="question in questions">
            <li ng-controller="QuestionController">
                <a href="/#/questions/{{ question.id }}">{{ question.text }}</a>
                <ul>
                    <li><em>Autor:</em> {{ question.issued_by.first_name }} {{ question.issued_by.last_name }}</li>
                    <li><em>Miasto:</em> {{ question.city.name }}</li>
                    <li><em>Data:</em> {{ question.issued_at }}</li>
                    <li><em>Ulubiony:</em> {{ question.bookmark_count }}</li>
                    <li><em>Mój ulubiony:</em> <input type="checkbox" ng-checked="question.is_bookmarked"></li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-show="questions.showSpinner">spinner...</div>
    <div ng-show="questions.haveNextPage() && !questions.showSpinner">
        <a href ng-click="questions.fetchNextPage()">Więcej...</a>
    </div>
</div>