body {
  margin-top: 60px;
}

div.error-page {
  margin-top: 6em;
}

p.bottom-hint {
  margin-top: 2em;
}

div.cityknowledge-position {
  margin-top: 10px;
  font-size: 2em;
}

div.city-select {
  margin-top: 13px;
  font-size: 2em;
}

div.city-select-container {
  margin-bottom: 30px;
}